@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
  color: #2d5986;
  font-size: 40px;
  padding: 13px 0;
  margin: 30px;
}
.don, don1{
  text-align: center;
  background: none;
  color: #2d5986;
  font-size: 25px;
  cursor:pointer;
  margin: 19px 0;
  direction: inherit;
  padding: 13px;
}
iframe{
  margin-top: 25px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2d5986;
  color: white;
  text-align: center;
}
